body {
  margin: 0;
  font-family: Karrik, Chinese, Arial, sans-serif;

  line-height: 1;
  font-size: 4rem;
  background-color: black;
  color: white;
}

@font-face {
  font-family: Karrik;
  src: url(../public/fonts/Karrik-Regular.ttf);
}
@font-face {
  font-family: Basalte;
  src: url(../public/fonts/Basalte-Fond.ttf);
}
@font-face {
  font-family: Equateur;
  src: url(../public/fonts/Equateur-Regular.ttf);
}
@font-face {
  font-family: Chinese;
  src: url(../public/fonts/ZiTiQuanWeiJunHei-W3-2.ttf);
}
