Landing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

section#landing {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100vh;
  text-align: center;
}
div.leftToRight {
  display: flex;
}
div#site-title h1 {
  color: #000;
  padding-left: 0.1em;
  padding-right: 0.1em;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin: 0;
}
h1.karrik {
  font-family: Karrik;
  font-size: 200%;
}
h1.Chinese {
  font-size: 160%;
  padding: 12px 0;
}
div#site-title h5 {
  font-family: Basalte;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 6vw;
  height: 6vw;
  border: 3px solid #fff;
  border-left-color: #000;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
