section#landing {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 100vh;
  text-align: center;
}

div#site-title h1 {
  color: #000;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff;
  margin: 0;
}
div#site-title h5 {
  font-family: Basalte;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
}

