#terminal {
  font-family: Consolas, "Courier New";
  margin-left: 50px;
  font-size: 2rem;
}
.logo {
  color: #fafafa;
  text-shadow: 0 0 10px #be6463, 0 0 20px #be6463, 0 0 30px #be6463,
    0 0 40px #be6463, 0 0 50px #be6463, 0 0 60px #be6463, 0 0 70px #be6463;
  margin-bottom: 50px;
  font-size: 4rem;
}
.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
.text-yellow {
  color: #be996d;
}
.text-pink {
  color: #b95d5d;
}
.command, .command-description {
  text-decoration: none;
  color: #fafafa;
}
.paddingBetweenCols td {
  padding: 0 240px 0 0;
}
.cmd-prompt {
	display: flex;
  align-items: center;
  padding-top: 10
}
input#prompt{
	width:70%;
	min-width: 1px;
	border: 0;
	background-color: #000;
  color: #fafafa;
  font-family: Consolas, "Courier New";
  font-size: 2rem;
  margin-left: 8px;
}
input#prompt:focus{
	outline: none;
}