.terminal{
    font-family: Consolas, 'Courier New'
}
.glow-green{
	color: #fafafa;
	text-shadow: 0 0 10px #be6463, 0 0 20px #be6463, 0 0 30px #be6463, 0 0 40px #be6463, 0 0 50px #be6463, 0 0 60px #be6463, 0 0 70px #be6463;
}
.no-margin{
	margin-top: 0;
	margin-bottom: 0
}